{{#each animals as |animal|}}
<div class="handlebars">
<h1 data-id="{{animal.id}}"> <small>Species: {{animal.name}}</small></h1>
  <li>Name:{{#if animal.name}}
    {{animal.name}}
  {{else}}
    No name provided.
  {{/if}}
  </li>
  <li>Endangered Status: {{animal.endangered}}
  </li>
  </li>
  <li>User:{{#if animal.user_id}}
    <a href="mailto:{{animal.user.email}}">{{animal.user.email}}</a>
  {{else}}
    No user information provided.
  {{/if}}
  </li>
</div>
{{/each}}
