{{#each animals as |animal|}}
<div class="handlebars">
<h1 data-id="{{animal.id}}"> <small>Species: {{animal.name}}</small></h1>
  <li>Name:{{#if animal.name}}
    {{animal.name}}
  {{else}}
    No name provided.
  {{/if}}
  </li>
  <li>Is Endangered?:{{#if animal.endangered}}
    {{animal.endangered}}
  {{else}}
    No endangered status provided.
  {{/if}}
  </li>
  <li>User:{{#if animal.user_id}}
    {{animal.user.email}}
  {{else}}
    No user information provided.
  {{/if}}
</div>
{{/each}}
