<div class="handlebars-mod">
  <p>Current user: {{user.email}}
  </p>

{{#each user.animals as |animal|}}
<h1 data-id="{{animal.id}}"> <small>Species: {{animal.name}}</small></h1>
  <li>Animal ID:{{#if animal.id}}
    {{animal.id}}
  {{else}}
    No ID specified for this animal.
  {{/if}}
  </li>
  <li>Name:{{#if animal.name}}
    {{animal.name}}
  {{else}}
    No name provided.
  {{/if}}
  </li>
  <li>Endangered Status: {{animal.endangered}}
  </li>
{{/each}}

</div>
